
                        <div class="o-cols__item anim anim--up">
                            <figure>
                                <a href="blog-single.html" class="photo">
                                    <img src=<%= require("./img/photos/blog/01.jpg") %> alt="">
                                </a>
            
                                <figcaption class="text-center">
                                    <div class="o-lead--third">Suspendisse suscipit nibh vitae justo porttitor dignissim.</div>
                                    <div class="o-lead--fifth o-lead--dash o-lead--center">11.09.2019</div>
                            
                                    <div class="o-text o-lead--fourth">
                                        <p>Dyplomowany lekarz i trener medycyny estetycznej, absolwentką Podyplomowej Szkoły Kosmetologii Lekarskiej członek Sekcji Medycyny Estetycznej Polskiego Towarzystwa Lekarskiego (SME PTL) oraz polskiego i europejskiego stowarzyszenia medycyny przeciwstarzeniowej - anti-aging /PSAAM i ESAAM/.</p>
                                    </div>
                                </figcaption>
                            </figure>
        
                            <div class="text-center">
                                <a href="blog-single.html" class="o-btn o-btn--primary">Czytaj więcej</a>
                            </div>
                        </div>
                    
                        <div class="o-cols__item anim anim--bottom">
                            <figure>
                                <a href="blog-single.html" class="photo">
                                    <img src=<%= require("./img/photos/blog/02.jpg") %> alt="">
                                </a>

                                <figcaption class="text-center">
                                    <div class="o-lead--third">Czy lifting twarzy jest możliwy przy użyciu nici rozpuszczalnych?</div>
                                    <div class="o-lead--fifth o-lead--dash o-lead--center">11.09.2019</div>

                                    <div class="o-text o-lead--fourth">
                                        <p>Obecnie mocno popularne wypełniacze kwasu hialuronowego, implanty kolagenotwórcze czy też przeszczepy tłuszczowe owładneły rynkiem medycyny estetycznej. Ale co raz częściej do mojego gabinetu trafiają Pacjenci chcący dyskretnej i subtelnej...</p>
                                    </div>
                                </figcaption>
                            </figure>
        
                            <div class="text-center">
                                <a href="blog-single.html" class="o-btn o-btn--primary">Czytaj więcej</a>
                            </div>
                        </div>
