
        <div class="c-contact bg-gray anim anim--up">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header text-center">
                        <h2 class="o-lead--second">Skontakuj się z nami</h2>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Proin lacus sem, fringilla et hendrerit eget, pulvinar pulvinar ligula. </p>
                    </header>
                    
                    <div class="c-contact__form">
                        <form action="#">
                            <div class="form-row">
                                <div class="form-group">
                                    <input type="text" class="form-field" placeholder="Twoje imię">
                                </div>
                                
                                <div class="form-group">
                                    <input type="text" class="form-field" placeholder="Twój e-mail">
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group">
                                    <input type="text" class="form-field" placeholder="Tytuł wiadomości">
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group">
                                    <textarea class="form-field" placeholder="Wpisz treść wiadomości"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-row form-row--submit">
                                <div class="form-group">
                                    <img src=<%= require("./img/assets/captcha.png") %> alt="captcha">
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="o-btn o-btn--primary">Wyślij wiadomość</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
