
        <div class="c-numbers anim anim--up">
            <div class="o-section">
                <div class="o-wrap">
                
                    <ul class="c-numbers__items">
                        <li>
                            <i class="icon-portfolio"></i>
                            <p class="num"><span class="js-count" data-count="248">&nbsp;</span></p>
                            <p class="info">Udanych szkoleń</p>
                        </li>
                        
                        <li>
                            <i class="icon-like"></i>
                            <p class="num"><span class="js-count" data-count="735">&nbsp;</span></p>
                            <p class="info">Zadowolonych klientów</p>
                        </li>
                        
                        <li>
                            <i class="icon-clock"></i>
                            <p class="num"><span class="js-count" data-count="1465">&nbsp;</span></p>
                            <p class="info">Godzin praktyki</p>
                        </li>
                        
                        <li>
                            <i class="icon-star"></i>
                            <p class="num"><span class="js-count" data-count="612">&nbsp;</span></p>
                            <p class="info">Pozytywnych opinii</p>
                        </li>
                    </ul>
                
                </div>
            </div>
        </div>
