
                        <div class="c-pagination">
                            <a href="blog.html" class="o-btn o-btn--prev">
                                <i class="icon-chevron-left"></i>
                            </a>
                            
                            <ul>
                                <li class="is-active">
                                    <a href="blog.html">1</a>
                                </li>
                                <li>
                                    <a href="blog.html">2</a>
                                </li>
                                <li>
                                    <a href="blog.html">3</a>
                                </li>
                            </ul>
                            
                            <a href="blog.html" class="o-btn o-btn--next">
                                <i class="icon-chevron-right"></i>
                            </a>
                        </div>
