
        <div class="c-team text-center">
            <div class="o-section">
                <header class="text-center">
                    <h2 class="o-crystalead o-crystalead--in">Kadra szkoleniowa</h2>
                </header>

                <div class="o-wrap">
                    <div class="o-cols o-cols--2p">
                        
                        <div class="o-cols__item anim anim--up">
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/photos/about/katarzyna.jpg") %> alt="katarzyna" width="683" height="570">
                                </div>

                                <figcaption>
                                    <div class="o-lead--third">Katarzyna Grudzień</div>
                            
                                    <div class="o-text o-lead--fourth text-center">
                                        <p>Dyplomowany lekarz i trener medycyny estetycznej, absolwentką Podyplomowej Szkoły Kosmetologii Lekarskiej członek Sekcji Medycyny Estetycznej Polskiego Towarzystwa Lekarskiego (SME PTL) oraz polskiego i europejskiego stowarzyszenia medycyny przeciwstarzeniowej - anti-aging /PSAAM i ESAAM/.</p>
                                    </div>
                                </figcaption>
                            </figure>
        
                            <div class="text-center">
                                <a href="kadry.html" class="o-btn o-btn--primary">Czytaj więcej</a>
                            </div>
                        </div>

                        
                        <div class="o-cols__item anim anim--bottom">
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/photos/about/iwona.jpg") %> alt="iwona" width="683" height="570">
                                </div>

                                <figcaption>
                                    <div class="o-lead--third">Iwona Manikowska</div>
                                    
                                    <div class="o-text o-lead--fourth text-center">
                                        <p>Certyfikowany lekarz medycyny estetycznej, a także specjalistka II stopnia z zakresu chorób wewnętrznych.</p>
                
                                        <p>Medycyną estetyczną zaczęła zajmować się w 2006 roku. Stała za tym głęboka motywacja – przez lata pracy jako onkolog widziała wiele kobiet cierpiących z powodu pogorszenia wyglądu przez chorobę.</p>
                                    </div>
                                </figcaption>
                            </figure>
        
                            <div class="text-center">
                                <a href="kadry.html" class="o-btn o-btn--primary">Czytaj więcej</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
