
        <div class="c-top js-top">
            <div class="o-wrap">
                <a href="index.html" class="o-logo">
                    <img src=<%= require("./img/logo-crystal.svg") %> width="238" height="27" alt="Crystal Aesthetic">
                </a>
                
                <nav class="c-nav js-nav">
                    <ul class="c-nav__menu">
                        <li class="current-menu-item">
                            <a href="index.html">start</a>
                        </li>
                        
                        <li>
                            <a href="onas.html">o nas</a>
                        </li>
                        
                        <li>
                            <a href="kadra.html">kadra</a>
                        </li>
                        
                        <li>
                            <a href="products.html">produkty</a>
                        </li>
                        
                        <li>
                            <a href="szkolenia.html">szkolenia</a>
                        </li>
                        
                        <li>
                            <a href="blog.html">blog</a>
                        </li>
                        
                        <li>
                            <a href="kontakt.html">kontakt</a>
                        </li>
                    </ul>
                    
                    <ul class="c-nav__social">
                        <li>
                            <a href="#" class="icon-facebook"></a>
                        </li>
                        
                        <li>
                            <a href="#" class="icon-instagram"></a>
                        </li>
                        
                        <li>
                            <a href="#" class="icon-linkedin"></a>
                        </li>
                    </ul>
                </nav>
                
                <div class="c-hamburger js-hamburger"></div>
            </div>
        </div>
