
        <div class="c-video anim anim--up">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header text-center">
                        <h2 class="o-crystalead">Szkolenia dla lekarzy</h2>
                        
                        <p>Innowacyjne podejście do szkoleń specjalizujących się<br> w teoretycznych oraz praktycznych warsztatach z zakresu medycyny estetycznej.</p>
                    </header>
    
                    <a href="https://www.youtube.com/watch?v=Ga6RYejo6Hk" class="c-video__item js-video">
                        <img src=<%= require("./img/photos/video.jpg") %> alt="" width="1170" height="570">
                        <i class="play"></i>
                    </a>
                </div>
            </div>
        </div>
