%abs {
	position: absolute;
	z-index: 10;
}

%abs-after {
	@extend %abs;
	display: block;
	content: ' ';
}

%abs-pseudo {
	position: absolute;
	top: 0;
	display: block;
	content: ' ';
}

%anim {
    transition: all 150ms ease-in-out;
}

%animfix {
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

%antialias {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%abs-x {
	left: 50%;
	transform: translateX(-50%);
}

%abs-y {
	@extend %abs;
	top: 50%;
	transform: translateY(-50%);
}

%abs-xy {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

%clear {
	clear: both;
	
	&:after {
		clear: both;
		display: block;
		content: '';
	}
}

%flex-column {
    flex-direction: column;
}

%flex {
    display: flex;
}

%flex-inline {
    display: inline-flex;
}

%flex-end {
	align-items: flex-end;
}

%flex-shrink {
    flex-shrink: 0;
}

%flex-x {
	justify-content: center;
}

%flex-y {
	align-items: center;
}

%flex-spacebetween {
	justify-content: space-between;
}

%flex-wrap {
    flex-wrap: wrap;
}

%flex-xy {
	justify-content: center;
	align-items: center;
}

%rel {
	position: relative;
	z-index: 5;
}

%ulink {
    @extend %rel;
    display: inline-block;
    
    &:after, &:before {
        @extend %abs;
        @extend %abs-after;
        left: 0;
        width: 100%;
        transform: scale3d(0, 1, 1);
    }

    &:before {
        bottom: 0;
        height: 1px;
        transform-origin: right center;
        transition: transform;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.77,0, .175, 1);
    }

    &:after {
        top: 0;
    	height: 100%;
    }

    &:hover {
        .desktop & {
            &:before {                
                transform: scale3d(1, 1, 1);
                transform-origin: left center;
            }
        }
    }
}
