.o-cols {
    @extend %rel;

    @media ( min-width: $tablet_portrait + 1px ) {
        display: flex;
        flex-wrap: wrap; 
    }

    &--2p {
        .o-cols {
            &__item {
                @extend %flex;
                @extend %flex-wrap;
                @extend %flex-spacebetween;
                @extend %flex-column;
                
                @media ( min-width: $tablet_portrait + 1px ) {
                    width: 50%;
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                    max-width: 683px;
                    margin: 0 auto;
                }
                
                &:not(:last-of-type) {
                    margin-bottom: 60px;
                }

                &:nth-of-type(odd) {
                    @media ( min-width: $desktop + 1px ) {
                        .photo {
                            margin-left: -98px;
                        }
                    }
                }
                
                &:nth-of-type(even) {
                    @media ( min-width: $desktop + 1px ) {
                        .photo {
                            margin-right: -98px;
                        }
                    }
                }
        
                img {
                    @media ( min-width: $desktop + 1px ) {
                        max-width: none;            
                    }
                }
            }
        }
    }
    
    &--3 {
        .o-cols {
            &__item {
                &:not(:last-of-type) {
                    @media ( max-width: $tablet_portrait + px ) {
                        margin-bottom: 40px;
                    }
                }
            
                @media ( min-width: $tablet_portrait + 1px ) {
                    width: calc(100% / 3);
                    
                    &:not(:last-of-type) {
                        //margin-bottom: 90px;
                    }
                }
            }
        }
    }
}
