.o-lead {

    &--first,
    &--second,
    &--third,
    &--fourth,
    &--fifth {
        line-height: 1.2em;
    }
    
    &--first {
        font-size: rem(43.8);
        
        @media ( max-width: $tablet_portrait + px ) {
            font-size: rem(32);
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
            font-size: rem(24);
        }
    }

    &--second {
        font-size: rem(30);
        
        @media ( max-width: $smartphone + px ) {
            font-size: rem(24);
        }
    }

    &--third {
        font-size: rem(20);
    }
    
    &--fourth {
        font-size: rem(18);
    }
    
    &--fifth {
        font-size: rem(14);
        
        @media ( max-width: $smartphone_portrait + px ) {
            font-size: rem(12);
        }
    }
    
    
    // Attrs
    
    &--center {
        &:after {
            @extend %abs-x;
        }
    }
    
    &--dash {
        @extend %rel;

        &:after {
            @extend %abs;
            @extend %abs-after;
            bottom: -8px;
            width: 32px; height: 1px;
            background-color: $c-blue2;
        }
    }
}
