.o-overlay {
    @include z-index(overlay);
    @extend %flex;
    @extend %flex-xy;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba($c-primary, .6);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &__content {
        @extend %anim;
        @extend  %rel;
        transform: translate3d(0, 10px, 0);
        
        padding: 60px 0;
        opacity: 0;

        &.is-visible {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        
        @media ( max-width: 780px ) {
            width: 100%;
        }
    }

    .icon-close {
        @extend %abs;
        @extend %abs-after;
        @extend %flex;
        @extend %flex-xy;
        right: -30px; top: 30px;
        width: 60px; height: 60px;
        background-color: white;
        border: 1px solid $c-primary;
        cursor: pointer;
        
        @media ( max-width: 780px ) {
            right: 0; top: 0;
        }
    }

    &.to-baseline {
        align-items: baseline;
        
        .o-overlay__content {
            padding: 0;
        }
    }
}
