.c-copyrights {
    background-color: $c-black3;
    padding: 15px;
    text-align: center;
    font-size: rem(15);
    color: $c-gray4;
    
    @media ( max-width: $smartphone_portrait + px ) {
        font-size: rem(14);
    }
}