.c-numbers {
    background-color: $c-primary;
    text-align: center;
    color: white;
    
    @media ( min-width: $smartphone_portrait + 1px ) {
        padding: 10px 0 20px 0;
    }

    &__items {
        @extend %flex;
        
        @media ( max-width: $smartphone_portrait + px ) {
            flex-wrap: wrap;
        }

        li {
            width: 25%;
            
            @media ( max-width: $smartphone_portrait + px ) {
                width: 50%;
                margin-bottom: 20px;
            }
        }
        
        [class^="icon-"] {
            display: inline-block;
            margin-bottom: 20px;
            font-size: rem(34);
        }
        
        .info {
            letter-spacing: 1px;
            text-transform: uppercase;
            font: {
                size: rem(12);
                weight: $medium;
            }
        }
        
        .num {
            margin-bottom: .4em;
            font: {
                size: rem(24);
                weight: $bold;
            }
        }
    }
}