.c-product {

    table {
        width: 800px;
        margin: 50px auto 50px auto;
        
        @media ( max-width: 860px ) {
            width: 100%;
        }
        
        @media ( max-width: $smartphone + px ) {
            margin-top: 25px;
        }
    }
    
    &__intro {
        margin-bottom: 100px;
        
        @media ( max-width: $tablet + px ) {
            margin-bottom: 50px;
        }
        
        @media ( max-width: $smartphone + px ) {
            margin-bottom: 25px;
        }

        .o-text {
            p {
                margin: 0;
            }
        }
    }
    
    .photo {
        
        @media ( min-width: $tablet_portrait + 1px ) {
            float: left;
            max-width: grid(700);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
            margin: 0 auto;
        }
    }
    
    .o-section {
        @media ( max-width: $smartphone_portrait + px ) {
            padding-bottom: 20px;
        }
    }
}