.c-references {
    text-align: center;
    
    .o-section {
        @media ( max-width: $tablet + px ) {
           // padding-top: 0;
        }
    }
    
    .o-wrap {
        @extend %rel;
        
        &:before,
        &:after {
            @extend %abs;
            @extend %abs-after;
            top: 0;
            width: 20%;
            height: 100%;
            background: rgba(81,163,198,1);
            background: -moz-linear-gradient(left, rgba(81,163,198,1) 0%, rgba(81,163,198,0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(81,163,198,1)), color-stop(100%, rgba(81,163,198,0)));
            background: -webkit-linear-gradient(left, rgba(81,163,198,1) 0%, rgba(81,163,198,0) 100%);
            background: -o-linear-gradient(left, rgba(81,163,198,1) 0%, rgba(81,163,198,0) 100%);
            background: -ms-linear-gradient(left, rgba(81,163,198,1) 0%, rgba(81,163,198,0) 100%);
            background: linear-gradient(to right, rgba(81,163,198,1) 0%, rgba(81,163,198,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51a3c6', endColorstr='#51a3c6', GradientType=1 ); 
            
            @media ( max-width: $smartphone_portrait + px ) {
                display: none;
            }
        }
        
        &:before {
            left: 0; 
                       
        }
        
        &:after {
            right: 0;
            transform: scaleX(-1);
        }
    }

    p {
        line-height: 1.5em;
        font: {
            size: rem(24);
            weight: $medium;
        }
        
        @media ( max-width: $tablet + px ) {
            font-size: rem(18);
        }
    }
    
    .author {
        display: block;
        padding: 40px 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        font: {
            size: rem(12);
            weight: $bold;
        }
    }
    
    .glide {
        &__bullet {
            width: 10px;
            height: 10px;
            background-color: white;
            padding: 0;
            margin: 0 2px;
            border-radius: 50%;
            border: 2px solid $c-primary;
    
            &--active {
                border-color: transparent;
            }
        }
        
        &__bullets {
            text-align: center;
        }
        
        &__slide {
            padding: 50px 160px 0 160px;
            
            @media ( max-width: $tablet + px ) {
                padding: 50px 80px 0 80px;
            }
            
            @media ( max-width: $tablet + px ) {
                padding: 50px 0 0 0;
            }
        }
    }
    
    .o-section {
        background-color: $c-primary;
        color: white;
    }
}
