.c-search {
    @extend %rel;
    margin-bottom: 68px;
    
    @media ( max-width: $tablet_portrait + px ) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    button {
        @extend %abs;
        right: 15px; top: 0;
        height: 54px;
        font-size: rem(30);
        padding: 0;
        color: $c-gray5;
    }

    .form-field {
        height: 54px;
        border: 1px solid $c-gray2;
        padding-right: 60px;
    }
}