.c-slider {
    @extend %rel; 
    height: 568px;
    overflow: hidden;
    
    @media ( max-width: $tablet_portrait + px ) {
        height: 400px;
    }
    
    .glide {
        &__arrow {
            @extend %anim;
            @extend %flex;
            @extend %flex-xy;
            width: 24px;
            height: 30px;
            border: 1px solid $c-blue3;
            font-size: rem(14);
            color: $c-blue3;
            
            &:hover {
                .desktop & {
                    background-color: $c-blue3;
                    color: white;
                }
            }
            
            &--left {
                margin-left: -64px;
            }
            
            &--right {
                margin-right: -64px;
            }
        }
    
        &__arrows {
            @extend %abs;
            @extend %abs-y;
            @extend %flex;
            @extend %flex-spacebetween;
            left: calc((100% - 1170px)/2);
            width: $base + px;
        }
        
        &__bullet {
            width: 13px;
            height: 13px;
            background-color: transparent;
            padding: 0;
            margin-right: 5px;
            border-radius: 50%;
            border: 1px solid $c-blue2;
    
            &--active {
                background-color: $c-blue2;
            }
        }
        
        &__arrows,
        &__bullets {
            @extend %abs;
            
        }
        
        &__bullets {
            left: 30px;
            bottom: 25px;
            
            @media ( min-width: $base + 80px ) {
                left: calc((100% - 1170px)/2);
                width: $base + px;
            }
            
            @media screen and ( max-width: $smartphone + px ) {
                left: 20px;
        	}
        }
    }

    &__item {
        @extend %rel;
        height: 100%;
        background: {
            repeat: no-repeat;
            size: cover;
            position: center;
        }
        
        @media ( min-width: 1601px ) {
            background-size: cover;
        }
    }
    
    &__text {
        @extend %abs;
        @extend %abs-y;
        max-width: 520px;
        padding-bottom: 80px;
        
       .firstline,
       .secondline {
            opacity: 0;
            transform: translate3d(-50px, 0, 0);
       }

       .firstline {
            margin-bottom: 20px;
            line-height: 1.2em;
            font: {
                size: rem(38);
                weight: $medium;
            }
            color: $c-black4;

            @media ( max-width: $tablet + px ) {
                font-size: tablet(38);
            }

            @media ( max-width: $smartphone_portrait + px ) {
                font-size: rem(24);
            }
        }

        .secondline {
            font-size: rem(18);
            
            @media ( max-width: $tablet + px ) {
                font-size: tablet(18);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
                font-size: rem(16);
            }
        }

        .cta {
            opacity: 0;
            transform: translate3d(-50px, 0, 0);

            padding-top: 40px;
        }
    }    
}