.c-team {

    &--full {
        .o-btn {
            margin-bottom: 40px;
        }
        /*

        .o-section {
            padding-top: 0;
        }
*/
    }

    .o-lead {
        &--third {
            @extend %flex;
            @extend %flex-xy;
            @extend %rel;
            
            height: 70px;
            background-color: white;
            font-weight: $bold;
            
            @media ( min-width: $smartphone_portrait + 1px ) {
                width: 370px;
                margin: -70px auto 40px auto;
            }
        }
    }
    
    .o-section {
        @media ( max-width: $tablet + px ) {
            padding-top: 0;
        }
    }

    .o-text {
        margin-bottom: 40px;
        line-height: 1.6em;
        
        @media ( min-width: $smartphone_portrait + 1px ) {
            padding: 0 50px;
        }
        
        p {
            margin-bottom: 1.4em;
        }
    }    
}