$c-black1:      #333;
$c-black2:      #191919;
$c-black3:      #252525;
$c-black4:      #1d1d1d;

$c-blue1:       #285269;
$c-blue2:       #3f6a81;
$c-blue3:       #51a2c6;
$c-blue4:       #074d6e;

$c-gray1:       #787878;
$c-gray2:       #999;
$c-gray3:       #f5f5f5;
$c-gray4:       #bcbcbc;
$c-gray5:       #666;

$c-primary:     $c-blue3;

$c-red:         red;