<% include ./src/includes/head %>

<body style="overflow: hidden">
                                    
    <div class="o-container">

        <% include ./src/includes/top %>


        <div class="o-header o-header--main">
            <h1 class="o-lead--first">Nasza Kadra to specjaliści</h1>
            <p>Nasi szkoleniowcy i handlowcy to wykwalifikowany zespół. Posiada ogromną wiedzę i doświadczenie.<br>
To nie tylko eksperci w swojej dziedzinie jak również bardzo pomocni i oddani swojej pracy.</p>
        </div>


        <div class="c-team c-team--full">
            <div class="o-section">
                <header class="text-center">
                    <h2 class="o-crystalead o-crystalead--in">Kadra szkoleniowa</h2>
                </header>
                
                <div class="o-wrap">
                    <div class="o-cols o-cols--2p">
                        
                        <div class="o-cols__item anim anim--up js-content">
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/photos/about/katarzyna.jpg") %> alt="katarzyna" width="683" height="570">
                                </div>

                                <figcaption>
                                    <div class="o-lead--third">Katarzyna Grudzień</div>
                            
                                    <div class="o-text o-lead--fourth text-center">
<p>
Dyplomowany lekarz i trener medycyny estetycznej, absolwentką Podyplomowej Szkoły Kosmetologii Lekarskiej członek Sekcji Medycyny Estetycznej Polskiego Towarzystwa Lekarskiego (SME PTL) oraz polskiego i europejskiego stowarzyszenia medycyny przeciwstarzeniowej - anti-aging /PSAAM i ESAAM/.
</p>

<p>
Prowadzi od kilku lat jeden z pierwszych w regionie ośrodków medycyny estetycznej i przeciwstarzeniowej : LIFTMED. 
</p>

<p>
Obecnie to jedyny w Rybniku CERTYFIKOWANY Gabinet Medycyny Estetycznej.
</p>

<section class="js-full is-hidden">
    <p>
    W trosce o jak najwyższy standard opieki i leczenia stale podnosi swoje kwalifikacje czynnie uczestnicząc w kursach, szkoleniach i sympozjach.
    </p>
    
    <p>
    Obecnie Centrum Medyczne LIFTMED oferuje Państwu szerokie spektrum zabiegów z zakresu nie tylko Medycyny Estetycznej ale i większości specjalności lekarskich.
    </p>
</section>
                                    </div>
                                </figcaption>
                            </figure>
                            
                            <div class="text-center">
                                <a href="kadry.html" class="o-btn o-btn--primary js-btn js-show">Czytaj więcej</a>
                            </div>
                        </div>


                        <div class="o-cols__item anim anim--bottom js-content">
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/photos/about/iwona.jpg") %> alt="iwona" width="683" height="570">
                                </div>
                                
                                <figcaption>
                                    <div class="o-lead--third">Iwona Manikowska</div>
                                    
                                    <div class="o-text o-lead--fourth text-center">
<p>
Certyfikowany lekarz medycyny estetycznej, a także specjalistka II stopnia z zakresu chorób wewnętrznych.
</p>

<p>
Medycyną estetyczną zaczęła zajmować się w 2006 roku. Stała za tym głęboka motywacja – przez lata pracy jako onkolog widziała wiele kobiet cierpiącychz powodu pogorszenia wyglądu przez chorobę. Postanowiła pomóc im w skuteczny, a zarazem bezpieczny sposób. Natychmiast złożyła aplikację na studia podyplomowe z zakresu medycyny estetycznej w Szkole Medycyny Estetycznej Polskiego Towarzystwa Lekarskiego. Ukończyła ją w 2009 roku, uzyskując tytuł specjalistki w tej dziedzinie nadawany przez Polskie Towarzystwo Medycyny Estetycznej. 
</p>

<section class="js-full is-hidden">
    <p>
    Tytuł ten jest honorowany także przez Stowarzyszenie Medycyny Estetycznej (UIME) w Paryżu. Iwona od lat podnosi swoje kwalifikacje, a także aktywnie uczestniczy w licznych szkoleniach, seminariach i kongresach medycznych – zarówno w Polsce, jak i za granicą (głównie w USA na ASCO, ASH). Specjalizuje się w zabiegach modelowania twarzy wypełniaczami i przy użyciu nici liftingujących. Prowadzi indywidualne szkolenia dla lekarzy z zabiegów nićmi liftingującymi, a także szkolenia na zlecenie uznanych producentów nici tego rodzaju. Wykonuje wszystkie zabiegi z zakresu medycyny estetycznej oraz zabiegi z użyciem fal radiowych o parametrach medycznych.
    </p>
    
    <p>
    Nigdy nie porzuciła onkologii ani interny. W swoim gabinecie- Happy Clinic zajmuje się konsultacjami pacjentów z wszelakimi problemami z zakresu chorób wewnętrznych, medycyny ogólnej oraz onkologii. Wyzwaniem jest dla niej diagnostyka i leczenie pacjentów onkologicznych (po chemioterapii i radioterapii).
    </p>
</section>
                                    </div>
                                </figcaption>
                            </figure>
                            
                            <div class="text-center">
                                <a href="kadry.html" class="o-btn o-btn--primary js-btn js-show">Czytaj więcej</a>
                            </div>
                        </div>                        
                    </div>
                </div>

                <header class="text-center">
                    <h2 class="o-crystalead o-crystalead--in">Kadra handlowa</h2>
                </header>
    
                <div class="o-wrap">
                    <div class="o-cols o-cols--2p">
                        
                        <div class="o-cols__item anim anim--up">
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/photos/about/ewa1.jpg") %> alt="ewa" width="683" height="570">
                                </div>
                                
                                <figcaption>
                                    <div class="o-lead--third">Ewa Janusiak</div>
                            
                                    <div class="o-text o-lead--fourth text-center">
<p>
Magister kosmetologii, absolwentka Małopolskiej Wyższej Szkoły im. Józefa Dietla w Krakowie.
Miła, sympatyczna ceniąca długotrwałe relacje.
</p>

<p>
Wyróżnia się zaangażowaniem, poczuciem obowiązku oraz planowaniem każdego dnia.
Po pracy czas spędza w siłowni odreagowując trudny codzienności.
</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>


                        <div class="o-cols__item anim anim--bottom">
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/photos/about/ewa2.jpg") %> alt="ewa" width="683" height="570">
                                </div>

                                <figcaption>
                                    <div class="o-lead--third">Iwona Manikowska</div>
                                    
                                    <div class="o-text o-lead--fourth text-center">
<p>
Z wykształcenia biolog, kosmetolog, z pasji – poszukiwaczka piękna, prywatnie szczęśliwa mama.
</p>

<p>
Z branżą beauty związana jest od wielu lat. W pracy wyróżnią ją zaangażowanie i ogromna wiedza.
</p>

<p>
Każdego dnia z uśmiechem proponuje klientom 
rozwiązania, które są kluczem do sukcesu i zwiększają zadowolenie pacjentów klinik medycyny estetycznej.
</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        
        
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/copyrights %>
        
    </div>

</body>
</html>