<% include ./src/includes/head %>

<body style="overflow: hidden">
                                    
    <div class="o-container">

        <% include ./src/includes/top %>


        <div class="o-header o-header--main">
            <h1 class="o-lead--first">O Crystal Aesthetic</h1>
        </div>


        <div class="c-about anim anim--up">
            <div class="o-section">
                <div class="o-wrap">
                
                    <div class="c-about__intro">
                        <div class="o-text text-center">
<p>
Jesteśmy dystrybutorem wysokiej jakości koreańskich nici przeznaczonych do zabiegów medycyny estetycznej.<br>
Oferowane przez nas nici PDO i PLLA produkowane są w jednej z najlepszych na rynku fabryk.<br>
Posiadają certyfikat CE oraz certyfikat bezpieczeństwa wydany przez KFDA.
</p>

<p>&nbsp;</p>

<p>
Organizujemy szkolenia prowadzone przez wykwalifikowanych trenerów-lekarzy medycyny estetycznych.<br>
Nasze warsztaty są przeznaczone zarówno dla osób początkujących jak i już praktykujących wykonywanie zabiegów nićmi.
</p>

<p>&nbsp;</p>

<p>
Nasze produkty i szkolenia przeznaczone są wyłącznie dla dyplomowanych specjalistów.<br>
Przed złożeniem zamówienia weryfikujemy numer PWZL klienta.
</p>
                        </div>
                        
                    </div>
                    
                    <div class="c-about__main">
                        <div class="o-text">
                            
                            <section>

<img src=<%= require("./img/photos/about/about-01.jpg") %> alt="" class="align-left">
                            
<p>
Zabiegi estetyczne z użyciem nici umożliwiają uzyskanie 
spektakularnych efektów i skutecznie zastępują 
inwazyjne zabiegi chirurgiczne takie jak:
</p>                            

<ul>
    <li>lifing twarzy</li>
    <li>wygładzanie zmarszczek</li>
    <li>konturowani etwarzy</li>
    <li>podniesienie brwi, ktącików ust</li>
    <li>zabiegi modelujące ciało</li>
    <li>poprawa jakości i wyraźne odmłodzenie skóry</li>
</ul>
                            </section>
                            
                            <section>
<img src=<%= require("./img/photos/about/about-02.jpg") %> alt="" class="align-right">

<p>
Nici stymulują syntezę włókien kolagenu i elastyny zwiększając tym samym gęstość i sprężystość skóry. Po zabiegu rozpoczyna się proces poprawy jakości skóry.
</p>

<p>
Nici Crystal Aesthe c w zależności od ich rodzaju są wykonane z PDO czyli polidioksanonu lub PLLA czyli Poly-L-Lac c Acid. Substancje te wykazują pełną zgodność tkankową i są w całości absorbowane przez skórę. W pierwszych tygodniach po wykonanym zabiegu nićmi rozpoczyna się w skórze proces rewitalizacji i regeneracji oraz zwiększa się ilość produkowanych włókien kolagenowych poprzez syntezę fibroblastów. Po około dwóch miesiącach po zabiegu skóra staje się wyraźnie młodsza, bardziej jędrna i zagęszczona. Efekt zabiegu utrzymuje się od kilku do nawet kilkunastu miesięcy.
</p>
                            </section>

                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        
        
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/copyrights %>
        
    </div>

</body>
</html>