<% include ./src/includes/head %>

<body style="overflow: hidden">
                                    
    <div class="o-container">

        <% include ./src/includes/top %>


        <div class="o-header o-header--main">
            <h1 class="o-lead--first">Nić twin screw pdo/plla<br>- nić podójnie skręcona</h1>
        </div>


        <div class="c-product anim anim--up">
            <div class="o-section">
                <div class="o-wrap">
                
                    <div class="c-product__intro">
                        <div class="o-text text-center">
<p>
Rewitalizacja oraz spłycanie zmarszczek, zabiegi wymagające podniesienia tkanek;<br>
zabiegi relaksacji mięśni - alternatywa dla toksyny botulinowej, redukcja zmarszczek mimicznych.
</p>
                        </div>
                        
                    </div>
                    
                    <div class="c-product__main">
                        <div class="o-text">
                            
                            <section>

<img src=<%= require("./img/photos/products/product.png") %> alt="" class="align-left">
                 
<ul>
    <li>OKOLICAOKA</li>
    <li>BRUZDYNOSOWO-WARGOWE</li>
    <li>ZMARSZCZKI SZYI I DEKOLTU</li>
    <li>PODWÓJNYPODBRUDEK</li>
    <li>GŁADZIZNACZOŁOWA</li>
    <li>ZMARSZCZKI ŚMIECHOWE</li>
    <li>ZMARSZCZKI PALACZA</li>
    <li>ZMARSZCZKI „MARIONETKI”</li>
</ul>
                            </section>

                            <section>
                            
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Grubość igły</th>
                                            <th>Długość igły</th>
                                            <th>Długość nici</th>
                                            <th>UPS Nici</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td><strong>PDO 26 G</strong></td>
                                            <td>38 mm</td>
                                            <td>50 mm</td>
                                            <td>7-0X2</td>
                                        </tr>
                                        
                                        <tr>
                                            <td><strong>PDO 27 G</strong></td>
                                            <td>60 mm</td>
                                            <td>90 mm</td>
                                            <td>7-0X2</td>
                                        </tr>
                                        
                                        <tr>
                                            <td><strong>PLLA 26 G</strong></td>
                                            <td>38 mm</td>
                                            <td>60 mm</td>
                                            <td>7-0X2</td>
                                        </tr>
                                        
                                        <tr>
                                            <td><strong>PLLA 26 G</strong></td>
                                            <td>50 mm</td>
                                            <td>80 mm</td>
                                            <td>7-0X2</td>
                                        </tr>
                                    </tbody>
                                </table>
                            
                            </section>

                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        
        
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/copyrights %>
        
    </div>

</body>
</html>